# Data Exploration

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

print("pandas is imported")

pandas is imported

### Home Prices trend

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv('/workspaces/zillow-rent-vs-buy/datasets/Metro_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv')
df

,RegionID,SizeRank,RegionName,RegionType,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,...,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31
0,102001,0,United States,country,NaN,118707.067403,118915.911190,119174.908235,119730.406059,120369.717454,...,331792.556192,332737.094336,334329.453340,336227.239707,337939.184067,339527.795163,340727.998087,341626.116176,342262.362454,342684.595630
1,394913,1,"New York, NY",msa,NY,214711.957315,215624.361989,216545.217175,218411.226107,220343.542977,...,601872.094161,603866.680230,607870.244963,612012.402854,615590.764298,618868.250688,621576.974628,623908.530435,626205.548195,628950.905039
2,753899,2,"Los Angeles, CA",msa,CA,216061.085437,216865.106811,217936.055612,220066.883970,222397.342176,...,829993.390155,827670.479528,831367.221314,838986.140548,849938.719814,863190.395864,876570.548792,887702.948599,896080.694140,901341.513988
3,394463,3,"Chicago, IL",msa,IL,148346.569648,148483.895357,148745.434588,149396.079198,150178.726403,...,284826.230801,286470.597557,288600.445549,291089.711115,293559.912665,295944.981366,297722.646487,299046.161183,299933.123236,300548.532759
4,394514,4,"Dallas, TX",msa,TX,123115.492393,123170.328463,123233.368140,123397.075558,123612.919307,...,360809.133540,360269.287158,360549.145982,361350.026517,362306.430926,363208.896596,363615.188111,363727.272518,363591.472198,363272.402573
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
890,753929,935,"Zapata, TX",msa,TX,NaN,NaN,NaN,NaN,NaN,...,117475.349162,117653.545100,117182.212297,116514.457590,116169.083356,116381.991553,116054.079227,114551.116649,112513.969384,110624.093046
891,394743,936,"Ketchikan, AK",msa,AK,NaN,NaN,NaN,NaN,NaN,...,376764.309282,375673.639456,375992.287369,377345.255722,378818.952062,378420.112191,376530.175240,373257.920829,370538.974702,368134.817708
892,753874,937,"Craig, CO",msa,CO,94896.399568,95139.056298,95590.819563,96234.172181,96981.791963,...,257855.543644,259839.269331,262417.684955,265945.604584,268759.784935,270941.446827,272153.450736,273347.088544,274048.896308,274002.040138
893,395188,938,"Vernon, TX",msa,TX,NaN,NaN,NaN,NaN,NaN,...,90240.254270,91730.403387,92981.736336,92944.401406,92408.650744,91401.858940,90434.637098,89385.433714,87929.318672,86633.734982
894,394767,939,"Lamesa, TX",msa,TX,NaN,NaN,NaN,NaN,NaN,...,87978.701465,87776.148013,87710.988857,86270.662798,84528.867381,82646.373945,81602.687584,80669.549605,79928.493207,78732.715812

### Rent Prices Trend

In [ ]:
import pandas as pd

df = pd.read_csv('/workspaces/zillow-rent-vs-buy/datasets/Rentals_zori_uc_sfrcondomfr_sm_month.csv')
df

### Analysis

In [6]:
print(df.columns)

Index(['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName',
       '2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30', '2000-05-31',
       ...
       '2023-03-31', '2023-04-30', '2023-05-31', '2023-06-30', '2023-07-31',
       '2023-08-31', '2023-09-30', '2023-10-31', '2023-11-30', '2023-12-31'],
      dtype='object', length=293)

# Visualizations